<div class="mb-3"></div>
<div class="container">
  <div class="card border-success text-center">
    <div class="card-header text-primary"></div>

    <div class="card-body text-primary">
      @if (listaCategorias && listaCategorias.length > 0) {
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Identificador</th>
              <th>Fecha de creaci&oacute;n</th>
              <th>Descripci&oacute;n de Categoria</th>
              <th>Nombre de Categoria</th>
              <th colspan="2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (lc of listaCategorias; track lc.idCategoria) {
              <tr>
                <td>{{ lc.idCategoria }}</td>
                <td>{{ lc.createAt }}</td>
                <td>{{ lc.descripcionCategoria }}</td>
                <td>{{ lc.nombreCategoria }}</td>
                <td>
                  <button
                    class="btn btn-outline-success btn-sm me-2"
                    (click)="editarCategoria(lc.idCategoria!)"
                  >
                    Actualizar
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-outline-danger"
                    (click)="eliminarCategoria(lc.idCategoria!)"
                  >
                    Eliminar
                  </button>
                  <button class="btn btn-primary" (click)="irACrear()">Probar Enrutador</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <div class="alert">
          <p>Cargando categorías desde el servidor...</p>
        </div>
      }
    </div>
  </div>
</div>
