<div class="container mt-4">
  <div class="card border-primary">
    <div class="card-body text-center py-5">
      <h1 class="display-4 text-primary fw-bold">Inventario Mini</h1>
      
      <h3 class="text-secondary">Desarrollo de Aplicaciones Web</h3>
      
      <hr class="my-4 w-50 mx-auto">
      
      <p class="lead text-muted">
        Sistema pequeñito de Inventario
      </p>
      
      <div class="mt-4">
        <a [routerLink]="'/ListaCategoria'" class="btn btn-primary btn-lg">
          <i class="fas fa-box-open"></i> Ver Inventario
        </a>
      </div>
    </div>
  </div>
</div>